<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                   Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <typeAliases>
      <typeAlias alias="IManager" type="SourceApp.Interface.IManager, SourceApp.Interface"/>
      <typeAlias alias="Manager" type="SourceApp.Implementation.Manager, SourceApp.Implementation"/>
      <typeAlias alias="ITestObject" type="SourceApp.Interface.ITestObject, SourceApp.Interface"/>
      <typeAlias alias="TestObject" type="SourceApp.Implementation.TestObject, SourceApp.Implementation"/>
      <typeAlias alias="IPresentation" type="SourceApp.Interface.IPresentation, SourceApp.Interface"/>
      <typeAlias alias="ConsolePresentation" type="SourceApp.Implementation.ConsolePresentation, SourceApp.Implementation"/>
    </typeAliases>

    <containers>
      <container/>
      <container name="testContainer">
        <register type="IManager" mapTo="Manager"/>
        <register type="IPresentation" mapTo="ConsolePresentation"/>
      </container>
      <container name="fullContainer">
        <register type="IManager" mapTo="Manager"/>
        <register type="IPresentation" mapTo="ConsolePresentation"/>
        <register type="ITestObject" mapTo="TestObject" name="with_no_param"/>
        <register type="ITestObject" mapTo="TestObject" name="with_Guid_param">
          <constructor>
            <param name="id" type="System.Guid"/>
          </constructor>
        </register>
      </container>
    </containers>
  
  </unity>
</configuration>